<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.singtracy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name="tw.singtracy.SingTracy"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tw.singtracy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tw.singtracy.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="tw.singtracy.ListSongActivity"
            android:label="@string/title_listSong" >
        </activity>
        <activity
            android:name="tw.singtracy.PlayListActivity"
            android:label="@string/title_listSong" >
		</activity>
        <activity
            android:name="tw.singtracy.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="tw.singtracy.AudioActivity"
            android:label="@string/title_activity_audio" >
        </activity>
    </application>

</manifest>